version: "3"
services:
  frontend:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "8080:3000"
    container_name: fe-webpack
    command: "node index.js"

# Add service mongodb or mysql
